body,h1 {
  font-family: "Raleway", sans-serif;
}
body, html {
  height: 100%;
}
.bgimg {
background-image: url('pic/view1.jpg');
min-height: 100%;
background-position: center;
background-size: cover;
}
.menu {
    color: #2e1aa1;
    text-align: center;
}
.ggfont{
    font-family: 'Oswald', sans-serif;
}

.footerandheader{
    background-color: #B0C4DE;
    color: rgb(66, 66, 209);
}
.detail{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: darkblue;
}
.indextext{
    font-family: 'Oswald', sans-serif;
    color: darkslateblue;
}
.homebt{
    background-color: #708090;
    border: 0;
    margin-left: 45%;
    font-size: large;
}
.portfo{
  text-align: center;
}
.portfotext{
  font-size: x-large;
}
.jumbotron{
  margin-top: 3%;
}